:root {
  --primary: #dddddd;
  --primary-accent: #cfcfcf;
  --secondary: #12213d;
  --secondary-font: #dddddd;
  --btn: #244dbd;
  --btn-remove: #db3131;
  --btn-edit: #63ffff;
  --error: #db3131;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--font-color);
  background-color: var(--primary);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  color: var(--secondary-font);
  padding: 0 5px;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.page-body {
  padding: 5px 15px;
}

.btn {
  text-decoration: none;
  background-color: var(--btn);
  color: var(--secondary-font);
  padding: 10px;
  border: none;
}

.btn:hover {
  background-color: lch(from var(--btn) calc(l - 15) c h);
}

.btn.disabled {
  background-color: lch(from var(--btn) calc(l - 15) c h);
  cursor: default;
}

.h-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
}

.box-item {
  margin: 5px;
  background-color: var(--primary-accent);
  padding: 10px;
}

.study-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  flex-wrap: wrap;
}

.study-item h3 {
  line-height: 0;
}

.btn-remove {
  background-color: var(--btn-remove);
  border: none;
  padding: 10px 15px;
  color: var(--secondary-font);
  font-weight: bold;
}

.btn-remove:hover {
  background-color: lch(from var(--btn-remove) calc(l - 15) c h);
}

.btn-edit {
  background-color: var(--btn-edit);
  border: none;
  padding: 10px 15px;
  color: var(--secondary);
  font-weight: bold;
}

.btn-edit:hover {
  background-color: lch(from var(--btn-edit) calc(l - 15) c h);
}

.study-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#study-form {
  background-color: var(--primary);
  padding: 10px;
  height: calc(100% - 20px);
}

#study-form>input {
  padding: 5px;
  margin-bottom: 5px;
}

.errors {
  color: var(--error);
  font-size: small;
}

.progress-chart {
  background-color: var(--primary);
  padding: 10px;
  height: 200px;
  width: calc(100% - 20px);
}